{% extends "base.html" %}

{% block title %}Billing{% endblock title %}

{% load static %}
{% block content %}
<div class="container">
    <h1 align="center" class="bg-success">Thank you for your purchase!</h1>
    <div class="wrap">
        <div class="row">
            <div class="col-sm-6 card text-dark bg-danger">
                <br/>
                <div class="card text-black bg-light mb-3">
                    <div class="card-header bg-secondary">
                        <h3>Product: {{purchase.product.name}}</h3>
                        <img src="{{purchase.product.image.url}}" class="card-img-top" alt="picture of game">
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">Quantity: {{ purchase.quantity }}</h5>
                    <hr/>
                    <p class="card-text">{{ product.description }}</p>
                    <p><button class="btn btn-success">Total Amount: Rs.{{ purchase.total_amount }}</button></p>
                    </div>
                </div>           
                Purchase Date: {{ purchase.purchase_date }}
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body bg-danger">
                        <div class="container">
                            <img src="{% static 'images/khalti.jpg' %}" alt="Khalti" class="card-img-top" height="450">
                        </div>
                        <div class="container text-primary">
                            <h5 class="card-title">Please pay the amount</h5>
                            <p class="card-text">Send us screenshot of the amount paid in this number: 981234567. Your delivery will start immedaitely</p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock content %}