{% extends 'base.html' %}

{% block title %}register{% endblock title %}

{% block content %}
<br/><br/>                

<div class="wrapper">
    <form action="#">
      <h2>Register</h2>
        <div class="input-field">
            <input type="text" name="name"required>
            <label>Enter your name</label>
        </div>  
        <div class="input-field">
            <input type="text" name="email" required>
            <label>Enter your email</label>
        </div>
        <div class="input-field">
            <input type="password" name="password1" required>
            <label>Enter your password</label>
        </div>
        <div class="input-field">
            <input type="password" name="password2" required>
            <label>Enter your password again</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" class="checkbox" required="">
            <span>I Agree To The Terms & Conditions</span>
        </div>
        <button type="submit">Sign Up</button>
        <div class="login">
            <p>Already have an Account? <a href="{% url 'login' %}"> Login Now!</a></p>
        </div>
    </form>
</div>
{% endblock content %}